<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leaderboardtry2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LeaderBoardTry2">
        <activity
            android:name=".SolarActivity"
            android:theme = "@style/Theme.LeaderBoardTry2.Popme"
            android:exported="false" />
        <activity
            android:name=".WindmillActivity"
            android:theme = "@style/Theme.LeaderBoardTry2.Popme"
            android:exported="false" />
        <activity
            android:name=".TurtleActivity"
            android:theme = "@style/Theme.LeaderBoardTry2.Popme"
            android:exported="false" />
        <activity
            android:name=".TreeActivity"
            android:theme = "@style/Theme.LeaderBoardTry2.Popme"
            android:exported="false" />
        <activity
            android:name=".LightbulbActivity"
            android:theme = "@style/Theme.LeaderBoardTry2.Popme"
            android:exported="false" />
        <activity
            android:name=".RecycleActivity"
            android:theme = "@style/Theme.LeaderBoardTry2.Popme"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>